body{background-color:skyblue;}
body{color: darkgreen;}
body{font-family: fantasy;}
body{margin: 20px;}
body{text-transform:capitalize; }
h1{background-color: maroon;}
h2{background-color: beige;}
li{text-transform: none;}
p{font-weight: bold;}